num_threads: 4
logging:
  level: DEBUG
  file_path: hoard.log
registry:
  bucket: my-bucket-name
  path: data.db
store:
  region: aws-region
uploads:
  multi_upload_threshold: 10485760  # 10 MB chunk size
  checksum_algorithm: CRC32
directories:
  - bucket: my-bucket-name
    path: /tmp/tmp.aWDqb3UpqC
    encryption_algorithm: AES256
    storage_class: STANDARD